.c-features-section {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($light-brown , .5), rgba($dark-brown , .5)), url("../images/bg-image-2.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    &>* {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 15rem 5rem;
    }
}

.c-feature-box {
    transition: transform .2s;
    background-color: rgba($light-gray , .85);
    border-radius: 3px;
    padding: 2.5rem;
    box-shadow: 0 1rem 2rem rgba($color-black, .8);

    &__icon {
        font-size: 6rem;
        display: inline-block;
        background-image: linear-gradient(to right, $light-brown, $dark-brown);
        color: transparent;
        -webkit-background-clip: text;
    }

    &__heading {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__paragraph {
        font-size: 1.5rem;
    }

    &:hover {
        box-shadow: 0 .5rem 1rem rgba($color-black, .8);
        transform: translateY(-1.5rem);
    }
}