.c-header {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/coffee.jpg");
    height: 95vh;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.c-header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.c-header__logo {
    cursor: pointer;
    height: 3.5rem;
}

.c-header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    backface-visibility: hidden;
    text-transform: uppercase;
}

.text-box__perimary {
    margin-bottom: 4rem;
}

.text-box__perimary--main {
    display: block;
    font-size:6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translatex(-10rem);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translatex(-10rem);
    }

    100% {
        opacity: 1;
        transform: translatex(0);
    }
}