.news-section {
    padding: 15rem 0;
    background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, $color-grey-dark-3 50%);
}

.c-news {
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black , .8);
    background-image:
        linear-gradient(105deg, rgba($color-white , .8) 0%, rgba($color-white , .8) 50%, transparent 50%), url("https://shorturl.at/nsvAS");
    background-size: cover;
    background-position: center center;
    @include respond(tab-land) {
        height: 100%;
        background-image:
        linear-gradient(105deg, rgba($color-white , .8) 0%, rgba($color-white , .8) 65%, transparent 65%), url("https://shorturl.at/nsvAS");
    }
    @include respond(tab-port) {
        height: 100%;
        background-image:
        linear-gradient(105deg, rgba($color-white , .8) 0%, rgba($color-white , .8) 100%), url("https://shorturl.at/nsvAS");
    }
    &__section {
        width: 50%;
        padding: 6rem;
        @include respond(tab-land) {
            width: 65%;

        }
        @include respond(tab-port) {
            width: 100%;

        }
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        background-color: rgba($color-white , .5);
        padding: 1.5rem 2rem;
        border: none;
        font-size: 1.5rem;
        font-family: inherit;
        color: $color-grey-dark-2;
        width: 90%;
        display: block;
        border-bottom: 3PX solid transparent;

        &:focus {
            outline: none;
            border-bottom: 3PX solid #4CC552;
        }

        &:focus:invalid {
            border-bottom: 3PX solid #FF4136;
        }
        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__lable {
        margin-left: 2rem;
        font-size: 1.2rem;
        color: $color-grey-dark-2;
        letter-spacing: .1rem;
        font-weight: 700;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown+&__lable {
        opacity: 0;
        transform: translateY(-4rem);
        visibility: hidden;
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
        @include respond(phone) {
            width: 100%;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-lable {
        position: relative;
        padding-left: 4rem;
        cursor: pointer;
        font-size: 1.5rem;
        font-family: inherit;
        color: $light-brown;
    }

    &__radio-button {
        position: absolute;
        left: 0;
        top: -.4rem;
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        border: 5px solid $light-brown;
        border-radius: 50%;

        &::after {
            content: "";
            width: 1.1rem;
            height: 1.1rem;
            background-color: $light-brown ;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s;
        }
    }

    &__radio-input:checked~&__radio-lable &__radio-button::after {
        opacity: 1;
    }
}