@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff");
}
/* Reset styles
   ========================================================================== */
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 3rem;
  color: #333333;
}

/* Remove default margins and padding from all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default styles from headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Remove default styles from lists */
ul, ol {
  list-style: none;
}

/* Remove default styles from tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default styles from form elements */
button, input, select, textarea {
  background: none;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 0;
}

/* Remove default styles from links */
a {
  text-decoration: none;
}

/* Normalize styles
   ========================================================================== */
/* Make block-level elements behave consistently */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

/* Make images behave consistently */
img {
  max-width: 100%;
  height: auto;
}

/* Make headings look consistent across browsers */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

/* Make lists look consistent across browsers */
ul, ol {
  margin: 0;
  padding: 0;
}

/* Make tables look consistent across browsers */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Make form elements look consistent across browsers */
button, input, select, textarea {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.btn:visited, .btn:link {
  padding: 1.5rem 3rem;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  border-radius: 10rem;
}
.btn::after {
  content: "";
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleY(1.4) scaleX(1.6);
  opacity: 0;
}
.btn--perimary:hover {
  background-color: rgba(230, 230, 230, 0.5);
  color: #000000;
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}
.btn--perimary {
  background-color: rgba(64, 64, 64, 0.5);
  color: #FFFFFF;
}
.btn--perimary:active {
  background-color: rgba(64, 64, 64, 0.5);
  color: #FFFFFF;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}
.btn--perimary::after {
  background-color: rgba(255, 255, 255, 0.5);
}
.btn--animated {
  animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.c-header {
  background-image: linear-gradient(to right bottom, rgba(210, 180, 140, 0.5), rgba(107, 58, 11, 0.5)), url("https://picsum.photos/id/431/5000/3334");
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.c-header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.c-header__logo {
  cursor: pointer;
  height: 3.5rem;
}
.c-header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
  text-transform: uppercase;
}
.c-header__text-box__perimary {
  margin-bottom: 4rem;
}
.c-header__text-box__perimary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.c-main__about-section {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7;
}
.c-main__about-section__heading {
  display: inline-block;
  padding: 0.7rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 34px;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #D2B48C, #6B3A0B);
  transition: all 0.2s;
}
.c-main__about-section__heading:hover {
  transform: skewY(2deg) skewX(15deg);
  text-shadow: 0.5rem 1rem 2rem rgba(107, 58, 11, 0.2);
}

.heading-tertiary {
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.btn-text:visited, .btn-text:link {
  display: inline-block;
  padding: 0.5rem;
  color: #6B3A0B;
  border-bottom: 1px solid #6B3A0B;
  transition: all 0.2s;
  font-weight: 700;
  letter-spacing: 0.15rem;
}
.btn-text:hover {
  transform: translateY(-0.5rem);
  background-color: #6B3A0B;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(107, 58, 11, 0.2);
}
.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(107, 58, 11, 0.2);
}

.composition {
  position: relative;
  z-index: 10;
}
.composition__photo {
  width: 55%;
  position: absolute;
  transition: all 0.4s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 22%;
  top: 10rem;
}
.composition__photo:hover {
  transform: scale(1.06);
  z-index: 20;
  box-shadow: 0 2.5rem 4rem rgba(107, 58, 11, 0.4);
  outline: 2rem inset rgba(107, 58, 11, 0.85);
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.c-features-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(210, 180, 140, 0.5), rgba(107, 58, 11, 0.5)), url("https://picsum.photos/id/60/5000/3334");
  background-size: cover;
}

.c-feature-box {
  background-color: rgba(247, 247, 247, 0.85);
  border-radius: 3px;
  padding: 2.5rem;
}
.c-feature-box__icon {
  font-size: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, #D2B48C, #6B3A0B);
  color: transparent;
  -webkit-background-clip: text;
}
.c-feature-box__paragraph {
  font-size: 1.5rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  padding: 0.5rem;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 *(100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 *(100% - 2 * 6rem) / 4 + 6rem);
}

.u-text-center {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(11rem);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

/*# sourceMappingURL=main.css.map */
