@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff"); }

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHh30AUi-qJCY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHh30AXC-q.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/*
$breakponit argument choise 
_ phone
_ tab-port
_ tab-land
_ big-desk
*/
/* Reset styles
   ========================================================================== */
html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 3rem;
  color: #333333; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* Remove default margins and padding from all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Remove default styles from headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

/* Remove default styles from lists */
ul,
ol {
  list-style: none; }

/* Remove default styles from tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Remove default styles from form elements */
button,
input,
select,
textarea {
  background: none;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: none;
  padding: 0; }

/* Remove default styles from links */
a {
  text-decoration: none; }

/* Normalize styles
   ========================================================================== */
/* Make block-level elements behave consistently */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

/* Make images behave consistently */
img {
  width: 100%;
  height: auto; }

/* Make headings look consistent across browsers */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

/* Make lists look consistent across browsers */
ul, ol {
  margin: 0;
  padding: 0; }

/* Make tables look consistent across browsers */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Make form elements look consistent across browsers */
button, input, select, textarea {
  font-family: "Lato" , sans-serif;
  font-size: 16px; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--perimary {
  background-color: #fff;
  color: #777; }
  .btn--perimary::after {
    background-color: #fff; }

.btn--brown {
  background-image: linear-gradient(to right bottom, #5f5f5f, #000);
  color: #fff; }
  .btn--brown::after {
    background-color: #000; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.navigation__background {
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background: radial-gradient(lightblue, #0000ff, #00008b);
  border-radius: 50%;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__input {
  display: none; }

.navigation__button {
  text-align: center;
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  z-index: 2000;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff); }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__nav {
  z-index: 1500;
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: -8rem;
  opacity: 0;
  transition: all .8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: block;
  color: #fff;
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 300;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all .45s; }

.navigation__link:hover, .navigation__link:active {
  transform: translateX(1rem);
  color: #000;
  background-position: 100%; }

.navigation__input:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__input:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  left: 0; }

.navigation__icon {
  position: relative;
  top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 3px;
    display: inline-block;
    background-color: #333;
    transition: all .2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.2rem; }

.navigation__input:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__input:checked + .navigation__button .navigation__icon::before {
  transform: rotate(316deg);
  top: 0; }

.navigation__input:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-316deg);
  top: 0; }

.c-header {
  background-image: linear-gradient(to right bottom, rgba(95, 95, 95, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-image.jpg");
  height: 95vh;
  background-size: cover;
  background-position: bottom;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .c-header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .c-header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .c-header__logo {
    cursor: pointer;
    height: 3.5rem; }
  .c-header__text-box {
    position: absolute;
    top: 40%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    backface-visibility: hidden;
    text-transform: uppercase; }
    .c-header__text-box__perimary {
      margin-bottom: 6rem; }
      .c-header__text-box__perimary--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-in; }
        @media (max-width: 37.5em) {
          .c-header__text-box__perimary--main {
            font-size: 5rem;
            letter-spacing: 1rem; } }

.c-main__about-section {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }
  .c-main__about-section__heading {
    text-transform: uppercase;
    font-weight: 700; }

.heading-tertiary {
  display: inline-block;
  padding: .7rem 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 34px;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #5f5f5f, #000);
  transition: all .2s; }
  .heading-tertiary:hover {
    transform: skewY(2deg) skewX(15deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.btn-text:visited, .btn-text:link {
  display: inline-block;
  padding: .5rem;
  color: #000;
  border-bottom: 1px solid #000;
  transition: all .2s;
  font-weight: 700;
  letter-spacing: .15rem; }

.btn-text:hover {
  transform: translateY(-0.5rem);
  background-color: #000;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative;
  z-index: 10; }
  .composition__photo {
    width: 55%;
    position: absolute;
    transition: all .4s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 2rem;
          left: 0; } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 2rem;
          right: 0; } }
    .composition__photo--p3 {
      left: 22%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0; } }
    .composition__photo:hover {
      transform: scale(1.05);
      z-index: 20;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      outline: 2rem inset rgba(0, 0, 0, 0.85); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.c-features-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(95, 95, 95, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-image-2.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .c-features-section > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .c-features-section {
      padding: 15rem 5rem; } }

.c-feature-box {
  transition: transform .2s;
  background-color: rgba(247, 247, 247, 0.85);
  border-radius: 3px;
  padding: 2.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }
  .c-feature-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #5f5f5f, #000);
    color: transparent;
    -webkit-background-clip: text; }
  .c-feature-box__heading {
    font-weight: 700;
    text-transform: uppercase; }
  .c-feature-box__paragraph {
    font-size: 1.5rem; }
  .c-feature-box:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8);
    transform: translateY(-1.5rem); }

.c-card-section {
  padding: 25rem 0 15rem 0;
  background-color: #f7f7f7;
  margin-top: -10rem; }

.c-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 52rem; }
  .c-card__side {
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .8s ease;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 3px; }
    .c-card__side--front {
      background-color: #fff; }
    .c-card__side--back {
      transform: rotateY(180deg); }
      .c-card__side--back-1 {
        background: linear-gradient(to right bottom, #FFC0CB, #FFB6C1); }
      .c-card__side--back-2 {
        background: linear-gradient(to right bottom, #ff0000, #b30000); }
      .c-card__side--back-3 {
        background: linear-gradient(to right, #00ffff, #00cccc); }
  .c-card:hover .c-card__side--front {
    transform: rotateY(-180deg); }
  .c-card:hover .c-card__side--back {
    transform: rotateY(0); }
  .c-card__picture {
    height: 23rem;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .c-card__picture--1 {
      background-image: url("https://shorturl.at/RTV19"); }
    .c-card__picture--2 {
      background-image: url("https://shorturl.at/amoZ7"); }
    .c-card__picture--3 {
      background-image: url("https://shorturl.at/ajMV6"); }
  .c-card__heading {
    position: absolute;
    top: 18rem;
    right: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    width: 50%; }
  .c-card__heading-span {
    padding: 0 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 400; }
    .c-card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 192, 203, 0.85), rgba(255, 182, 193, 0.85)); }
    .c-card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.85), rgba(179, 0, 0, 0.85)); }
    .c-card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 255, 255, 0.85), rgba(0, 204, 204, 0.85)); }
  .c-card__details {
    text-align: center;
    padding: 3rem; }
    .c-card__details ul {
      width: 80%;
      margin: 0 auto; }
      .c-card__details ul li {
        padding: 1rem;
        font-size: 1.5rem; }
        .c-card__details ul li:not(:last-child) {
          border-bottom: 1.5px solid #eee; }
  .c-card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .c-card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .c-card__price-only {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    text-transform: uppercase; }
  .c-card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .c-card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .c-card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .c-card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .c-card:hover .c-card__side--front {
        transform: rotateY(0); }
      .c-card__details {
        padding: 1rem 3rem; }
      .c-card__cta {
        text-align: center;
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .c-card__price-box {
        margin-bottom: 3rem; }
      .c-card__price-value {
        font-size: 4rem; } }

.c-testiamonails-section {
  padding: 15rem 0;
  position: relative;
  overflow: hidden; }

.c-story {
  transform: skewX(-12deg);
  width: 70%;
  margin: 0 auto;
  background-color: rgba(238, 238, 238, 0.6);
  padding: 6rem 6rem 6rem 9rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  font-size: 1.6rem; }
  @media (max-width: 56.25em) {
    .c-story {
      width: 100%;
      padding: 4rem 4rem 4rem 7rem; } }
  @media (max-width: 37.5em) {
    .c-story {
      transform: skewX(0); } }
  .c-story__figure {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
    @media (max-width: 37.5em) {
      .c-story__figure {
        transform: translateX(-3rem) skewX(0); } }
  .c-story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .c-story__text {
        transform: skewX(0); } }
  .c-story__caption {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, 10%);
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
    transition: all .5s;
    opacity: 0; }
  .c-story__img {
    transform: scale(1.4);
    transition: all .5s; }
  .c-story:hover .c-story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .c-story:hover .c-story__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }

.news-section {
  padding: 15rem 0;
  background-image: linear-gradient(105deg, #fff 0%, #fff 50%, #333 50%); }

.c-news {
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url("../images/bg-image-3-lg.jpg");
  background-size: cover;
  background-position: center center; }
  @media (max-width: 75em) {
    .c-news {
      height: 100%;
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 65%, transparent 65%), url("../images/bg-image-3-sm.jpg"); } }
  @media (max-width: 56.25em) {
    .c-news {
      height: 100%;
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url("../images/bg-image-3-sm.jpg"); } }
  .c-news__section {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .c-news__section {
        width: 65%; } }
    @media (max-width: 56.25em) {
      .c-news__section {
        width: 100%; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem 2rem;
  border: none;
  font-size: 1.5rem;
  font-family: inherit;
  color: #999;
  width: 90%;
  display: block;
  border-bottom: 3PX solid transparent; }
  .form__input:focus {
    outline: none;
    border-bottom: 3PX solid #4CC552; }
  .form__input:focus:invalid {
    border-bottom: 3PX solid #FF4136; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }

.form__lable {
  margin-left: 2rem;
  font-size: 1.2rem;
  color: #999;
  letter-spacing: .1rem;
  font-weight: 700;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__lable {
  opacity: 0;
  transform: translateY(-4rem);
  visibility: hidden; }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 37.5em) {
    .form__radio-group {
      width: 100%; } }

.form__radio-input {
  display: none; }

.form__radio-lable {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: inherit;
  color: #5f5f5f; }

.form__radio-button {
  position: absolute;
  left: 0;
  top: -.4rem;
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  border: 5px solid #5f5f5f;
  border-radius: 50%; }
  .form__radio-button::after {
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    background-color: #5f5f5f;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s; }

.form__radio-input:checked ~ .form__radio-lable .form__radio-button::after {
  opacity: 1; }

.c-footer {
  padding: 10rem 0;
  background-color: #333;
  color: #fff; }
  @media (max-width: 56.25em) {
    .c-footer {
      padding: 8rem 0; } }
  .c-footer__logo-box {
    margin-bottom: 8rem;
    width: 15rem;
    margin-right: auto;
    margin-left: auto; }
  .c-footer__logo {
    width: 15rem;
    height: auto; }
  .c-footer__navigation {
    border-top: 1.5px solid #777;
    padding-top: 3rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .c-footer__navigation {
        width: 100%;
        text-align: center; } }
  .c-footer__link:link, .c-footer__link:visited {
    background-color: #333;
    transition: all .3s;
    color: #fff;
    display: inline-block; }
  .c-footer__link:hover, .c-footer__link:active {
    transform: translateY(-0.8rem) scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .c-footer__item {
    display: inline-block; }
    .c-footer__item:not(:last-child) {
      padding-right: 1.5rem; }
  .c-footer__copy-right {
    padding-top: 3rem;
    border-top: 1.5px solid #777;
    display: inline-block; }

.c-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all .4s; }
  .c-popup__content {
    background-color: #fff;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
    transition: all .2s .2s; }
  .c-popup__left {
    width: 33.3333333%;
    display: table-cell; }
  .c-popup__img {
    width: 100%;
    display: block; }
  .c-popup__right {
    vertical-align: middle;
    padding: 3rem 5rem;
    width: 66.66666667%;
    display: table-cell; }
  .c-popup__text {
    color: #5f5f5f;
    font-size: 1.4rem;
    font-weight: 500;
    column-count: 2;
    letter-spacing: .05rem;
    column-gap: 4rem;
    column-rule: 1px solid #777;
    hyphens: auto; }
  .c-popup__second-heading {
    color: #5f5f5f;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px; }
  .c-popup__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    line-height: 1;
    font-size: 4rem;
    color: #777;
    transition: all .2s; }
    .c-popup__close:hover {
      color: #333; }
  .c-popup:target {
    opacity: 1;
    visibility: visible; }
  .c-popup:target .c-popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 100%; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    padding: 0.5rem;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 *(100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *(100% - 2 * 6rem) / 4 + 6rem); }

.u-text-center {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-top-big {
  margin-top: 10rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(-10rem); }
  100% {
    opacity: 1;
    transform: translatex(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-10rem); }
  100% {
    opacity: 1;
    transform: translatex(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(11rem); }
  100% {
    opacity: 1;
    transform: translatex(0); } }
