@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff");
}
html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 3rem;
  background-color: #000000; /* light gray */
  color: #333333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.o-wrapper {
  max-width: 160rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  clear: both;
}

.c-header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/coffee.jpg");
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.c-header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.c-header__logo {
  cursor: pointer;
  height: 3.5rem;
}

.c-header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
  text-transform: uppercase;
}

.text-box__perimary {
  margin-bottom: 4rem;
}

.text-box__perimary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
.btn:visited,
.btn:link {
  padding: 1.5rem 3rem;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  border-radius: 10rem;
}

.btn::after {
  content: "";
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleY(1.4) scaleX(1.6);
  opacity: 0;
}

.btn--perimary:hover {
  background-color: rgba(230, 230, 230, 0.5);
  color: #000000;
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn--perimary {
  background-color: rgba(64, 64, 64, 0.5);
  color: #FFFFFF;
}

.btn--perimary:active {
  background-color: rgba(64, 64, 64, 0.5);
  color: #FFFFFF;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.btn--perimary::after {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn--animated {
  animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(11rem);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

/*# sourceMappingURL=main.css.map */
