$color-white :#fff;
$color-black :#000;


$dark-brown: #000;
$light-brown: #5f5f5f;


$light-gray: #f7f7f7;
$light-gray-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3:#333;

$light-peropel: #8e2de2;
$medium-blue: #4a00e0;
$light-yellow: #ffd600;
$light-red: #ff0000;
$dark-red: #b30000;
$light-pink: #FFC0CB;
$dark-pink: #FFB6C1;
$light-cyan: #00ffff;
$dark-cyan: #00cccc;


// Grid
$grid-width: 114rem;
$grid-vertical :8rem;
$grid-vertical-small :6rem;
$grid-horizontal :6rem;

// font
$default-font-size :1.6rem;