$color-white :#fff;
$color-black :#000;
$dark-brown: #6B3A0B;
$light-brown: #D2B48C;
$light-gray: #f7f7f7;
$light-gray-2: #eee;
$light-peropel: #8e2de2;
$medium-blue: #4a00e0;
$light-yellow: #ffd600;
$light-red: #ff0000;
$dark-red: #b30000;
$light-pink: #FFC0CB;
$dark-pink: #FFB6C1;
$light-cyan: #00ffff;
$dark-cyan: #00cccc;
$color-grey-dark: #777;
// Grid
$grid-width: 114rem;
$grid-vertical :8rem;
$grid-horizontal :6rem;

// font
$default-font-size :1.6rem;