$color-white :#fff;
$color-black :#000;
$dark-brown: #6B3A0B;
$light-brown: #D2B48C;
$light-gray: #f7f7f7;

// Grid
$grid-width: 114rem;
$grid-vertical :8rem;
$grid-horizontal :6rem;

// font
$default-font-size :1.6rem;
